


<header>
  <div class="container">
    <div style="text-align:center">
      <h1>{{title}}</h1>
    </div>
    <input class="new-todo" placeholder="Entrez votre tache" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
    <button class="create" (click)="addTodo()"> + Créer</button>
  </div>
</header>


<section *ngIf="todos.length > 0; else elseBlock">
  <div class="container">
    <ul class="todos">
      <li *ngFor="let todo of todos" [class.complete]="todo.complete">
        <div class="view">
          <input id="check-{{todo.id}}" class="check" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label for="check-{{todo.id}}">#{{todo.id}} : {{ todo.title }}</label>
          <button class="suppr" (click)="removeTodo(todo)">Supprimer</button>
        </div>
      </li>
    </ul>
  </div>
</section>
<ng-template #elseBlock>
  <div class="noItems">pas de tache ...</div> 
</ng-template>

<footer *ngIf="todos.length > 0">
  <div class="container">
    <span>
      <strong>{{ todos.length }}</strong> {{ todos.length == 1 ? "tache" : "taches" }} en cours
    </span>
  </div>
</footer>